In [1]:
#Import python Libraries
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

In [2]:
#import my data
data=pd.read_csv("Airbnb_data.csv")

In [3]:
#Encode categorical variables
categorical_features = data.select_dtypes(include=['object']).columns

In [4]:
label_encoder = LabelEncoder()
for feature in categorical_features:
    data[feature] = label_encoder.fit_transform(data[feature])

In [5]:
data.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,12328,2787,4989,1,108,40.64749,-73.97237,1,149,1,9,1501,0.21,6,365
1,2595,37455,2845,4785,2,127,40.75362,-73.98377,0,225,1,45,1715,0.38,2,355
2,3647,43543,4632,2909,2,94,40.80902,-73.94190,1,150,3,0,1764,NaN,1,365

In [6]:
#data preprocessing
missing_data = data.isnull().sum()
print("Missing_Data:\n", missing_data)

Missing_Data:
 id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                           0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [7]:
data.fillna(data.median(), inplace=True)

In [8]:
missing_data = data.isnull().sum()
print("Missing_Data:\n", missing_data)

Missing_Data:
 id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [9]:
# Split into features and target
x = data.drop("price", axis=1)
x.head(2)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,12328,2787,4989,1,108,40.64749,-73.97237,1,1,9,1501,0.21,6,365
1,2595,37455,2845,4785,2,127,40.75362,-73.98377,0,1,45,1715,0.38,2,355

In [10]:
y=data.drop(x , axis=1)
y.head(5)

   price
0    149
1    225
2    150
3     89
4     80

In [18]:
# training and testing data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [19]:
#stardandize numerical features
scaler = StandardScaler()

In [20]:
#illustration using linear regression

lr = LinearRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)

In [27]:
mse = mean_squared_error(y_test,y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 39365.18192110989

In [26]:
#illustration using random forest regressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(x_train, y_train)

/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor(random_state=42)

In [32]:
y_pred = rf.predict(x_test)

In [33]:
mse = mean_squared_error(y_test, y_pred)
print(f"Random Forest Mean Squared Error: {mse}")

Random Forest Mean Squared Error: 35479.27104226403